/*IMPORTA CSS*/
@import url("https://my.tradesapp.it/css/var.css");
@import url("https://my.tradesapp.it/css/menu.css");
@import url("https://my.tradesapp.it/css/header.css");
@import url("https://my.tradesapp.it/css/base.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*LOGINFORM*/
.auth-form.card{box-shadow:var(--shadow-elevation-high);}
.loginadmin{margin-top:30px;}
.loginadmin input{margin-bottom:15px;}
/*Elenco utenti*/
.header_user{margin-bottom: 25px;}
.header_user div{font-weight: 700;}
.buser{height: 80px;border-radius: 10px;line-height: 80px;}
/*Aggiungi utente*/
.auser{margin-top:30px;display:block;}
.duser{margin-bottom:50px;}
.statusform div{height:50px;line-height:50px;color:#fff;padding-left:30px;border-radius:10px;}
.deltrans{position:relative;}
.deltrans svg{width:40px;height:40px;color:var(--color);position:absolute;top:50%;left:50%;margin:-20px 0 0 -20px;cursor:pointer;}
.confirmdelete{position:fixed;background-color: var(--bk_login);width:100%;height:100%;left:0;top:0;display:none;}
.confirmdelete .card{position:absolute;width: 500px;left:50%;top:50%;height:250px;margin:-125px 0 0 -250px;padding-top:30px}
.confirmdelete button{width: 80%;margin: auto;display: block;margin-top:50px;}